:root {
  --branding-color: #5e9ce5;
  --secondary-color: #e2f0f8;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 60px;
}
h4 {
  font-size: 45px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}
footer {
  margin: 50px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 4px;
}
footer .footer-contact {
  padding: 0;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: #fff;
  background-color: var(--branding-color);
}
.content-container {
  padding: 160px 20px;
  margin-bottom: 0;
}
.content {
  margin: 40px;
}
.content h1 {
  font-size: 64px;
  line-height: 1;
}
.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  cursor: pointer;
}
.btn-branding:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
}
.btn-branding-project {
  color: var(--branding-color);
  border: solid 1px var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  cursor: pointer;
}
.btn-branding-project:hover {
  background: var(--branding-color);
  color: white;
}
.project-description {
  padding: 90px 30px;
}
.project-title {
  color: var(--branding-color);
  font-size: 30px;
}
.active {
  color: var(--branding-color) !important;
}
.image-size {
  max-height: 650px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 47px;
  }
  h4 {
    font-size: 26px;
  }
  .project-description {
    padding: 0;
    text-align: center;
    margin: 20px auto;
  }
  .content-container {
    padding: 50px;
    text-align: center;
  }
  .content h1 {
    font-size: 47px;
  }
  footer .contact-box {
    text-align: center;
    padding: 20px 60px;
  }
  footer .btn-branding {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
  }
  footer .email-link {
    font-size: 20px;
  }
}
